body{
    margin: 0;
    background-color: rgb(230, 230, 230);
}

/* image and container css */

img{
    width: 350px;
    height: 350px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* card content css */

.card{
    width: 350px;
    text-align: center;
    background-color: white;
    box-shadow: 12px 12px 15px rgb(153 152 152);
    margin-top: 50px;
    margin-bottom: 50px;
}
.date{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 88, 114);
}

h2{
    margin-top: 0;
    margin-bottom: 15px;
}

.start{
    margin-bottom: 15px;
    margin-top: 15px;
}
.quote{
    margin: 0 25px 15px 25px;
    padding: 0 25px 10px 25px;
}

.slip{
    font-family: 'Allison', cursive;
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 2.5rem;
    color: rgb(43, 179, 233);
}

/* buttons css */

.btn{
    width: 140px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
}

.btn:hover{
    background-color: cyan;
}

/* required css */

@media(max-width:350px){
    .card{
        margin-top: 0;
        margin-bottom: 0;
        width: 250px;
    }

    img{
        width: 250px;
        height: 250px;
    }
}

@media(max-width:238px){
    img{
        width: 150px;
        height: 150px;
    }
    .card{
        width: 150px;
    }

    .quote{
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    .slip{
        font-size: 2rem;
    }
}

/* THE END */